@import "tailwindcss";

/* Tell Tailwind to use the .dark class */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #09090b;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "SF Pro Display";
  --font-mono: var(--font-geist-mono);

  --font-shrikhand: var(--font-shrikhand);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro Display";
  transition:
    background-color .3s ease,
    color .3s ease;
}

/* Custom CSS Selector */
.hero-rings-bg {
  position: relative;
  background-color: var(--background); 
  z-index: 1; 

  --ring-color-inner: rgba(0, 0, 0, 0.04);
  --ring-color-outer: rgba(0, 0, 0, 0.02);
  --center-glow: rgba(0, 0, 0, 0.01);
  
  transition: background-color 0.3s ease;
}

.dark .hero-rings-bg {
  --ring-color-inner: rgba(255, 255, 255, 0.05);
  --ring-color-outer: rgba(255, 255, 255, 0.03);
  --center-glow: rgba(255, 255, 255, 0.02);
}

.hero-rings-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; 
  pointer-events: none;
  background: 
    radial-gradient(circle at center, transparent 26%, var(--ring-color-inner) 34%, transparent 34%),
    radial-gradient(circle at center, transparent 46%, var(--ring-color-inner) 58%, transparent 31%);
}

.hero-rings-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: 
    radial-gradient(circle at center, transparent 20%, var(--ring-color-outer) 80%, transparent 73%),
    radial-gradient(circle at center, var(--center-glow) 44%, transparent 108%); 
}

button svg:hover,a svg:hover{
  fill:#C40504;
}

.left-round-btn:after,.right-round-btn:after{
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}
.left-round-btn:after{
  background-image: url(../../public/icons/line-left.png);
  right: 50%;
}
.right-round-btn:after{
  background-image: url(../../public/icons/line-right.png);
  left: 50%;
}
.cursor-pointer span{
    background: #626262;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 2px 12px #3a3a3a;
}
.cursor-pointer.group:hover span{
  background: #ff2a2a;
  box-shadow: 0 0 2px 12px #ff2a2a47;
}
.cursor-pointer{
  margin-bottom:20px;
}
.curve-bg{
  background:linear-gradient(#00000003 0%, #0000004a 20%, #00000059 40%, #000 60% 100%);
}
.left-round-btn button img,
.right-round-btn button img{
  height: 63px;
  width: 63px;
}

.tooltip-btn span{
    background: #414141;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid red;
    padding: 12px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    border-left: none;
}
.tooltip-btn:hover span{
  display:block;
}
.tooltip-btn span::before{
  content: "";
  background: #414141;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  left: -6px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.rings{
  box-shadow: inset 0 26.46px 200px 0 #ffffff0f;
  /* box-shadow: 0px 26.46px 47.63px 0px #FFFFFF0F inset; */
}